@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to bottom, #5E3283, #cf9679);
    }
    
    main {
        display: flex;
        width: 80%;
        height: 31%;
        flex-direction: row;
        max-width: none;
    }
    
    #img{
        background-image: url('../imgs/imagem1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 45%;
        height: 100%;

        border-radius: 15px 0px 0px 15px;
    }

    form {
        border-radius: 0px 15px 15px 0px;
        width: 100%;
    }

    input {
        width: 80%;
    }

    .span_icons {
        width: 15%;
    }
    
    i.material-icons {
        font-size: 250%;
    }
}

@media screen and (min-width: 1024px){
    main {
        max-width: 900px;
        height: 36%;
        max-height: 400px;
        flex-direction: row-reverse;
        text-align: left;
        align-items: left;
    }
    #img {
        width: 50%;
        border-radius: 0px 15px 15px 0px;
    }
    form {
        width: 50%;
        border-radius: 15px 0px 0px 15px;
        font-size: 16px;
        text-align: justify;
    }

    #div_input1 {
        margin-top: 25px;
    }

    h1 {
        font-size: 31px;
        margin-bottom: 15px;
    }
}