@font-face {
    font-family: 'Siracha';
    src: url('./Sriracha/Sriracha-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Passion_One';
    src: url('./Passion_One/PassionOne-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Passion_normal';
    src: url('./Passion_One/PassionOne-Regular.ttf') format('truetype') ;
}

:root {
    --font_padrao: Arial, Verdana, Helvetica, sans-serif ;
    --font1: 'Siracha';
    --font2: 'Passion_One';
    --font3: 'Passion_normal'
}

body {
    font-family: var(--font_padrao);
    margin: 0px;
    width: 100%;
    height: 100%;
}

header {
    min-width: 540px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
}

#title {
    display: flex;
    flex-direction: row;
    font-family:'Passion_One';
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    height: 100%;
}

.t1 {
    margin: 0px;
}

.t1::first-letter {
    font-size: 140px;

}

#tsecond {
    margin-left: 20px;
}

#Milton {
    font-family: var(--font_padrao);
    font-size: 18px;
}

.link_bold {
    font-family: var(--font_padrao);
    font-weight: bolder;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    height: 100%;
}

p.p_main {
    margin: 5px;
    padding: 0px;
    font-family: var(--font1);
    font-size: 50px;
}

#fundo_flor {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#fundo_livro {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    padding: 30px;
    min-width: 480px;
}

article {
    padding: 0px;
    margin: 0px;
}

#transparente-1 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

#transparente-2{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
}

@media (max-width: 1024px){
    #title{
        font-size: 40px;
    }
    #Milton{
        font-size: 16px;
    }
    .link_bold{
        font-size: 18px;
    }
    p.p_main{
        font-size: 40px;
    }
    .t1::first-letter{
        font-size: 120px;
    }
}

@media (max-width: 768px){
    #title{
        font-size: 30px;
    }
    #Milton{
        font-size: 14px;
    }
    .link_bold{
        font-size: 16px;
    }
    p.p_main{
        font-size: 30px;
    }
    .t1::first-letter{
        font-size: 90px;
    }   
}

@media (max-width: 570px){
    #title{
        font-size: 25px;
    }
    #Milton{
        font-size: 13px;
    }
    .link_bold{
        font-size: 15px;
    }
    p.p_main{
        font-size: 25px;
    }
    .t1::first-letter{
        font-size: 80px;
    }   
}

@media (max-width: 480px){
    #title{
        font-size: 15px;
    }
    #Milton{
        font-size: 11px;
    }
    .link_bold{
        font-size: 13px;
    }
    p.p_main{
        font-size: 15px;
    }
    .t1::first-letter{
        font-size: 60px;
    }   
}